<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ps1" mimeType="text/plain" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <!-- Rule to rewrite .txt requests to .ps1 files in dynamicdata folder -->
                <rule name="RewriteTxtToPs1" stopProcessing="true">
                    <match url="^dynamicdata/(.*)\.txt$" />
                    <action type="Rewrite" url="dynamicdata/{R:1}.ps1" />
                </rule>
                <!-- Existing rule to always redirect to index.js -->
                <rule name="AlwaysRedirectToIndexJS" stopProcessing="true">
                    <match url="^(?!dynamicdata/).*" />
                    <action type="Rewrite" url="/index.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
